{%extends 'DeliveryLayOut.html'%}
{%block content%}
<h1>delivery order page</h1>
<table style="width: 80%;" align="center">
    <tr>
        <th>Resturant Name</th>
        <th>Address</th>
        <th>Phone</th>
        <th>Email</th>
    </tr>
    <tr>
        <td>Name: </td>
        <td>Address:</td>
        <td>Phone: </td>
        <td>Email</td>
    </tr>
    <tr>
        <td>Name: </td>
        <td>Address:</td>
        <td>Phone: </td>
        <td>Email</td>
    </tr>
    <tr>
        <td>Name: </td>
        <td>Address:</td>
        <td>Phone: </td>
        <td>Email</td>
    </tr>
</table>

{%endblock content%}