<h1 align="center">under construction -- POS interface</h1>
<p align="center"> an exemple of a POS interface <br>
    <img src="../static/images/oyy-pos.png" alt="OYY POS" width="507" height="433">
</p>

<p align="center"> table layout <br>
<table border-color="black">
    <tr >
        <td>
        <ul>
            <li>list item</li>
            <li>list item</li>
            <li>list item</li>
            
        </ul>
    </td>
    <td>
        <table style="border: 1cm;">
            <tr>
                <td><button type="button">Button 1</button></td>
                <td><button type="button">Button 1</button></td>
                <td><button type="button">Button 1</button></td>
            </tr>
            <tr>
                <td><button type="button">Button 1</button></td>
                <td><button type="button">Button 1</button></td>
                <td><button type="button">Button 1</button></td>
            </tr>
            <tr>
                <td><button type="button">Button 1</button></td>
                <td><button type="button">Button 1</button></td>
                <td><button type="button">Button 1</button></td>
            </tr>
        </table>
    </td>
</table>

</p>

<br>
<a href="https://www.w3schools.com/html/default.asp"><img src="https://www.w3schools.com/images/w3schools_green.jpg"
        alt="W3Schools.com" width="104" height="142"></a>
<br>
<a href="https://www.w3schools.com/tags/tag_button.asp">W3Schools.com html tags</a>