{%extends 'layoutBS.html'%}
{%block content%}
<h1>Resturant page using bootstrap</h1>
<a href="{{url_for('createResturant')}}" class="btn btn-primary">Create</a>
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Resturant Name</th>
            <th scope="col">Address</th>
            <th scope="col">Phone Number</th>
            <th scope="col">Emali</th>
        </tr>
    </thead>
    <tbody>
        {%for i in r3%}
        <tr>
            {%for j in i%}
              {%if j != i[0]%}
                <td>{{j}}</td>
              {%endif%}                
            {%endfor%}
            <td><a href="#">Edit</a></td>
            <td><a href="#">Delete</a></td>
        </tr>
        {%endfor%}
    </tbody>
</table>
{%endblock content%}